@model TCWeb.Areas.Table.Models.TableModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Table</title>

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Scripts/KendoUI/styles/kendo.common.min.css")
        @Styles.Render("~/Scripts/KendoUI/styles/kendo.default.min.css")
        

        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/Scripts/KendoUI/js/jquery.min.js")
       
        @Scripts.Render("~/Scripts/KendoUI/js/kendo.web.min.js")
      <script type="text/javascript">


          var screenCalculator =
              {
                  percentage: function (number, percentage) {
                      return number / 100 * percentage;
                  },

                  screenHeight: function () {
                      return $(window).innerHeight();
                  },

                  screenWidth: function () {
                      return $(window).innerWidth();
                  },

                  northPlayerHeight: function () {
                      return this.percentage(this.screenHeight(), 20);
                  },

                  northPlayerWidth: function () {
                      return this.screenWidth();
                  },

                  westPlayerLeft: function () {
                      return 0;
                  },

                  westPlayerTop: function () {
                      return this.northPlayerHeight();
                  },

                  westPlayerHeight: function () {
                      return this.percentage(this.screenHeight(), 60);
                  },

                  westPlayerWidth: function () {
                      return this.percentage(this.screenWidth(), 20);
                  },

                  eastPlayerLeft: function () {
                      return this.screenWidth() - this.percentage(this.screenWidth(), 20);
                  },

                  eastPlayerTop: function () {
                      return this.northPlayerHeight();
                  },

                  eastPlayerHeight: function () {
                      return this.percentage(this.screenHeight(), 60);
                  },

                  eastPlayerWidth: function () {
                      return this.percentage(this.screenWidth(), 20);
                  },

                  southPlayerLeft: function () {
                      return 0;
                  },

                  southPlayerTop: function () {
                      return this.screenHeight() - this.percentage(this.screenHeight(), 20);
                  },

                  southPlayerHeight: function () {
                      return this.percentage(this.screenHeight(), 20);
                  },

                  southPlayerWidth: function () {
                      return this.screenWidth();
                  },

                  horizontalCardHeight: function () {
                      return this.percentage(this.southPlayerHeight(), 70);
                  },

                  horizontalCardWidth: function () {
                      return Math.ceil(this.horizontalCardHeight() / 1.43);
                  },

                  playerCardWidth: function () {
                      return this.horizontalCardWidth();
                  },

                  playerCardHeight: function () {
                      return this.horizontalCardHeight();
                  },

                  playerCardX: function (direction) {
                      if (direction.toLowerCase() == "north" || direction.toLowerCase() == "south") {
                          return this.northPlayerWidth() / 2 - this.playerCardWidth() / 2 - this.tableTopLeft();
                      }
                      else if (direction.toLowerCase() == "west") {
                          return this.westPlayerLeft() + this.westPlayerWidth() - this.tableTopLeft();
                      }
                      else if (direction.toLowerCase() == "east") {
                          return this.eastPlayerLeft() - this.playerCardWidth() - this.tableTopLeft();
                      }
                  },

                  playerCardY: function (direction) {
                      if (direction.toLowerCase() == "east" || direction.toLowerCase() == "west") {
                          return this.eastPlayerHeight() / 2 - this.playerCardHeight() / 2 + this.eastPlayerTop() - this.tableTopTop();
                      }
                      else if (direction.toLowerCase() == "north") {
                          return this.northPlayerHeight() - this.tableTopTop();
                      }
                      else if (direction.toLowerCase() == "south") {
                          return this.southPlayerTop() - this.southPlayerHeight() - this.tableTopTop();
                      }
                  },

                  tableTopLeft: function () {
                      return this.westPlayerWidth();
                  },
                  tableTopTop: function () {
                      return this.northPlayerHeight();
                  },
                  tableTopWidth: function () {
                      return this.screenWidth() - this.westPlayerWidth() - this.eastPlayerWidth();
                  },
                  tableTopHeight: function () {
                      return this.screenHeight() - this.northPlayerHeight() - this.southPlayerHeight();
                  }
          


              };


          function AdjustSizes() {
              $("#mainDiv").css({
                  "position": "absolute", "height": screenCalculator.screenHeight()
                                   , "width": screenCalculator.screenWidth(),
                  "left": 0,
                  "top": 0
              });


              $("#northPlayer").width(screenCalculator.northPlayerWidth());
              $("#northPlayer").height(screenCalculator.northPlayerHeight());

              $("#westPlayer").css({
                  position: "absolute",
                  left: screenCalculator.westPlayerLeft(),
                  top: screenCalculator.westPlayerTop(),
                  width: screenCalculator.westPlayerWidth(),
                  height: screenCalculator.westPlayerHeight()
              });
              $("#westPlayerCards").css({
                  height:0
              });

              $("#eastPlayerCards").css({
                  height: 0
              });

              $("#eastPlayer").css({
                  position: "absolute",
                  left: screenCalculator.eastPlayerLeft(),
                  top: screenCalculator.eastPlayerTop(),
                  width: screenCalculator.eastPlayerWidth(),
                  height: screenCalculator.eastPlayerHeight()
              });


              $("#southPlayer").css({
                  position: "absolute",
                  left: screenCalculator.southPlayerLeft(),
                  top: screenCalculator.southPlayerTop(),
                  width: screenCalculator.southPlayerWidth(),
                  height: screenCalculator.southPlayerHeight()
              });

              $(".UserCard").width(screenCalculator.horizontalCardWidth());
              $(".UserCard").height(screenCalculator.horizontalCardHeight());
              $(".UserCardImage").width(screenCalculator.horizontalCardWidth());
              $(".UserCardImage").height(screenCalculator.horizontalCardHeight());


              $(".TableCard").css({ position: "absolute", width: screenCalculator.playerCardWidth() + "px", height: screenCalculator.playerCardHeight() + "px" });

              $("#northPlayerCard").css({ left: screenCalculator.playerCardX("north") + "px", top: screenCalculator.playerCardY("north") + "px" });
              $("#southPlayerCard").css({ left: screenCalculator.playerCardX("south") + "px", top: screenCalculator.playerCardY("south") + "px" });
              $("#eastPlayerCard").css({ left: screenCalculator.playerCardX("east") + "px", top: screenCalculator.playerCardY("east") + "px" });
              $("#westPlayerCard").css({ left: screenCalculator.playerCardX("west") + "px", top: screenCalculator.playerCardY("west") + "px" });

              $("#tableTop").css({ position: "absolute", left: screenCalculator.tableTopLeft() + "px", top: screenCalculator.tableTopTop() + "px", width: screenCalculator.tableTopWidth() + "px", height: screenCalculator.tableTopHeight() + "px" });


          }


          $(window).resize(function () {
              AdjustSizes();
          });

          $(document).ready(function () {
              AdjustSizes();
          });
    </script>
    <style type="text/css">
        .UserCard {
            position:relative;
            top:0;
            display:inline;
        }
        .UserCardImage {
            width:inherit;
            height:inherit;
        }

        .VerticalUserCard {
            display:block;
            position:relative;
            left:0;
        }

        .TableCard {
            position:absolute;
        }
    </style>
</head>
<body>
    <div id="mainDiv" style="margin: 0; padding: 0;background-image: url('http://localhost/tempImages/TableCanvas.jpg');">
        <div id="northPlayer" style="float:left;margin:0;background:#247520;position:absolute;left:0;top:0; border-bottom: 1px solid black; padding-bottom: 1px;">
                <div style="display:inline; " id="northPlayerCards">
                  @{ int counter = 0; int deviation = 0;}
                   @for (counter = 0;counter<13;counter++)
                   {
                       deviation = counter * 40;
                       <div class="UserCard" style="left: -@deviation.ToString()px;" >
                           <img class="UserCardImage" src="@Url.Content("~/Images/Classic/Deck/cardback.png")" border="0" />
                       </div>
                   }
                </div>
            @if (Model.NorthPlayer != null)
            {
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; ">
                    @Model.NorthPlayer.userinfo.firstname &nbsp; @Model.NorthPlayer.userinfo.lastname<br />
                    Score: @Model.NorthPlayer.gamescore</div>
            }
            else 
            {
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; ">
                    Available Slot</div>
            }
        </div>
        <div id="westPlayer" style="float:left;margin:0;background:#247520;position:absolute;left:0;top:0;">
            @if (Model.WestPlayer != null)
            {
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; ">
                    @Model.WestPlayer.userinfo.firstname &nbsp; @Model.WestPlayer.userinfo.lastname<br />
                    Score: @Model.WestPlayer.gamescore</div>
            }
            else 
            {
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; ">
                    Available Slot</div>
            }
             <div id="westPlayerCards">  
               @for (counter = 0;counter<13;counter++)
               {
                   deviation = counter * 70;
                   <div class="VerticalUserCard" style="top: -@deviation.ToString()px;">
                       <img class="UserCardImage" src="@Url.Content("~/Images/Classic/Deck/cardback.png")" border="0" />
                   </div>
               }

            </div>
            

        </div>
       <div id="tableTop">
          <div id="northPlayerCard" class="TableCard">
              <img class="UserCardImage" src="@Url.Content("~/Images/Classic/Deck/cardback.png")" border="0" />
          </div>
          <div id="westPlayerCard" class="TableCard">
              <img class="UserCardImage" src="@Url.Content("~/Images/Classic/Deck/cardback.png")" border="0" />
          </div>
          <div id="eastPlayerCard" class="TableCard">
              <img class="UserCardImage" src="@Url.Content("~/Images/Classic/Deck/cardback.png")" border="0" />
          </div>
          <div id="southPlayerCard" class="TableCard">
              <img class="UserCardImage" src="@Url.Content("~/Images/Classic/Deck/cardback.png")" border="0" />
          </div>
        </div>
       <div id="eastPlayer" style="float:right;margin:0;background:#247520;position:absolute;left:0;top:0; text-align:right;">
                       
            @if (Model.EastPlayer != null)
            {
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; ">
                    @Model.EastPlayer.userinfo.firstname &nbsp; @Model.EastPlayer.userinfo.lastname<br />
                    Score: @Model.EastPlayer.gamescore</div>
            }
            else 
            {
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; ">
                    Available Slot</div>
            }
           
           <div id="eastPlayerCards">
                @for (counter = 0;counter<13;counter++)
               {
                   deviation = counter * 70;
                   <div class="VerticalUserCard" style="top: -@deviation.ToString()px; ">
                       <img class="UserCardImage" src="@Url.Content("~/Images/Classic/Deck/cardback.png")" border="0" />
                   </div>
               }
              </div>
 
        </div>
       <div id="southPlayer" style="float:left;margin:0;background:#247520;position:absolute;left:0;top:0;">

           <div id="southPlayerCards" style="text-align:center; margin: 0 auto;">

               @{ int i = 0; int j = 0;}
               @foreach (TCWeb.Utility.Card card in Model.You.yourcards)
               {
                   j = i * 40;
                   <div class="UserCard" style="left: -@j.ToString()px;">
                       <img class="UserCardImage" src="@Url.Content("~/Images/Classic/Deck/" + card.cardalias + ".png")" border="0" />
                   </div>
              i++;  }

           </div>
                <div style="font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; ">
                    @Model.You.userinfo.firstname &nbsp; @Model.You.userinfo.lastname<br />
                    Score: @Model.You.gamescore</div>

        </div>

    <footer>
        
    </footer>
</body>
</html>
